.time {
    margin-top: 76px;
    margin-bottom: 130px;
    font-size: 80px;
    font-family: 'KCC-Hanbit';
    transition: 0.1s
}
.mainPotatoImg {
    width: 400px;
}

.resultDiv {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resultPotato {
    width: 500px;
}